<!-- About me page -->
<div class="row about" ng-controller="HomeController">
	<div class="col-md-5">
		<div id="profile-pic"></div>
	</div>
	<div class="col-md-7">
	<h1 class="page-title">ABOUT</h1>
	<div>
			<p>Hi my name is <strong>Kevin Hong</strong> and this is my homepage.</p>
			<p>I am currently a <strong>Computer Science & Engineering</strong> Graduate student at <strong>Santa Clara University</strong> with a BS degree in Computer Science. </p>
			<p>I created this website in order to practice my AngularJS skills.</p>
			<br>
			<h4>Core technique on this website</h4>
			<ul>
				<li>AngularJS</li>
				<li>BootStrap.css</li>
			</ul>

	</div> 
	</div>
</div>