<!-- Education tab -->
<div class="edu row" ng-controller="ResumeController">
	<div class="col-md-9">
		<h1 class="page-title">RESUME</h1>
		<hr>
		<div class="row">
			<div class="icon col-sm-3">
				<h3>Education</h3>
			</div>
			<div class="col-sm-9">
			<dl class="degree firstContent" ng-repeat="education in educations">
				<dt>{{education.degree}}</dt>
				<dd>{{education.school}} | {{education.year}}</dd>
			</dl>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="icon col-sm-3">
				<h3 class="contentFirst">Experiences</h3>
			</div>
			<div class="job col-sm-9">
				<div class="firstContent" ng-repeat="job in experiences">
					<h5 class="floatRight" style="float:right;">{{job.period}}</h5>
					<h4>{{job.title}}</h4>  
					<span>{{job.company}} | {{job.location}}</span>
					<h5>Descriptions:</h5>
					<ul>
						<li ng-repeat="detail in job.details">{{detail}}</li>
					</ul>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="icon col-sm-3">
				<h3>Courses</h3>
			</div>
			<div class="col-sm-9">
				<ul class="course firstContent">
					<li ng-repeat="course in courses">{{course}}</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		
		<h3>Skills</h3>
		<div class="skill" ng-repeat="(key,value) in skills">
			<h4><strong>{{key}}</strong></h4>
				<ul class="list">
					<li ng-repeat="list in value">{{list}}</li>
				</ul>
				<hr>
		</div>
	</div>
</div>